<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--suppress MybatisGenerateCustomPluginInspection -->
<generatorConfiguration>
    <!--mycat 无法使用-->
    <!--<properties resource="test/env.properties"/>-->

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <!--<property name="javaFileEncoding" value="UTF-8"/>-->
        <!--<property name="useMapperCommentGenerator" value="false"/>-->

        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--序列化插件-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin">
            <property name="suppressJavaInterface" value="false" />
        </plugin>

        <!--toString插件-->
        <!--<plugin type="org.mybatis.generator.plugins.ToStringPlugin" />-->

        <!--自定义接口插件，实现自定义接口-->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.xxc.dao.base.CustomMapper"/>
            <property name="caseSensitive" value="true"/>
            <property name="forceAnnotation" value="true"/>
        </plugin>

        <!--<plugin type="tk.mybatis.mapper.generator.MapperPlugin">-->
            <!--<property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>-->
            <!--<property name="caseSensitive" value="true"/>-->
            <!--<property name="forceAnnotation" value="true"/>-->
        <!--</plugin>-->
        <!--<plugin type="tk.mybatis.mapper.generator.MapperPlugin">-->
            <!--<property name="mappers" value="tk.mybatis.mapper.common.MySqlMapper"/>-->
        <!--</plugin>-->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/groupchat?nullCatalogMeansCurrent=true"
                        userId="root"
                        password="root123">
        </jdbcConnection>

        <!--MyBatis 生成器只需要生成 Model-->
        <javaModelGenerator targetPackage="com.xxc.dao.model"
                            targetProject="src/main/java"/>

        <sqlMapGenerator targetPackage="com.xxc.dao.mapper"
                         targetProject="src/main/java"/>

        <javaClientGenerator targetPackage="com.xxc.dao.mapper"
                             targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <table tableName="???" domainObjectName="???">
            <property name="useActualColumnNames"  value="true"/>
            <!--如果需要分表的，请打开这个注释；生成model后请到分表计算的字段上加自定义注解@MultiTable-->
<!--            <property name="rootClass" value="com.xxc.dao.base.DynamicTableNameBean"/>-->
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>