#开启调试模式
debug: false

#内置服务器配置
server:
  port: 8888
  compression:
    enabled: true
    min-response-size: 2048
    mime-types: text/html,text/xml,text/javascript,text/css,text/plain
  servlet:
    session:
      timeout: 3600s

#logback 配置
logging:
  file: logs/service.log
  level:
    com.exp.demo: debug

#spring配置
spring:
  aop:
    proxy-target-class: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    #druid数据库配置
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 200
      max-wait: 3000
      #是否自动提交
      default-auto-commit: true
      #从连接池中获取连接前是否运行validationQuery
      validation-query: select 1
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true
      #配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 3600000
      #配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 18000000
      #是否开启statement cache
      pool-prepared-statements: false
      max-open-prepared-statements: -1
      #回收被遗弃的（一般是忘了释放的）数据库连接到连接池中
      remove-abandoned: true
      #数据库连接过多长时间不用将被视为被遗弃而收回连接池中
      remove-abandoned-timeout: 300
      #将被遗弃的数据库连接的回收记入日志
      log-abandoned: true
      filter:
        stat:
          #慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 5000
          #合并sql
          merge-sql: true
      #设置druid监控页面的用户名和密码
      stat-view-servlet:
        login-username: admin
        login-password: admin
        url-pattern: /druid/*
        allow: 127.0.0.1
      #合并多个DruidDataSource的监控数据
      use-global-data-source-stat: true

  redis:
    jedis:
      pool:
        max-idle: 10
        max-active: 300
        max-wait: 5000ms

  servlet:
      multipart:
        max-file-size: 10MB

#mybatis配置
mybatis:
  configuration:
    cache-enabled: true
    lazy-loading-enabled: true
    aggressive-lazy-loading: true
  type-aliases-package: com.xxc.dao.model
#
#mapper:
#  mappers: com.xxc.dao.base.CustomMapper
#  style: normal




