<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxc.dao.mapper.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.xxc.dao.model.Config">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <update id="updateBatch" parameterType="com.xxc.dao.model.Config">
    <foreach collection="configList" index="index" item="item" open="" separator=";" close="" >
      update config
      set value=#{item.value},remark=#{item.remark}
      where keyword=#{item.keyword}
    </foreach>
  </update>

</mapper>